/* Cambia el color de fondo de la barra de navegación */
.navbar {
    background-color: rgb(10, 72, 10) !important; 
  } 

  .navbar-brand, .nav-link {
    color: #ffffff !important; 
    font-weight: bold;
  }  
.nav-link {
  transition: background-color 0.5s ease; 
}
.nav-link:hover {
  background-color: #ff0f0f;
  color: white; 
}

  .dropdown-item {
    color: #000000 !important; 
  }  
  .nav-link.disabled {
    color: #cccccc !important;
  }
.contenedor-imagen {
    position: relative;
    text-align: center;
    color: white;
  }
  .texto-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px; /* Tamaño del texto */
    color: white;
    background-color:#2E7D32;
    font-weight: bold;
    opacity: 0.9;
  }
  .texto-encima2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px; /* Tamaño del texto */
    color: white;
    opacity: 0.6;
  }
  img {
    width: 100%;
    height: 650px;
    opacity: 0.9; 
  }
body {
    background-color: #f8f8f0; 
}
.info-contenednor{
    color: #2E7D32;
    font-size: 50px;
    font-weight: bold;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    height: 150px; 
  }
.container-fluid{
  color: #2E7D32 ;
  font-weight: bold;
}
.site-footer {
  background-color: #2E7D32; 
  color: black; 
  text-align: center; 
  padding: 0px 0; 
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto; 
  padding: 20px; 
}

.footer-links {
  list-style-type: none; 
  padding: 0; 
  margin: 10px 0; 
}

.footer-links li {
  margin-bottom: 10px; 
}

.footer-links a {
  color: #fff; 
  text-decoration: none; 
  transition: color 0.3s; 
}

.footer-links a:hover {
  color: #4CAF50; 
}

.social-links {
  list-style-type: none; 
  padding: 0; 
  margin: 10px 0; 
}

.social-links li {
  display: inline; 
  margin: 0 3px; 
}

.social-links a {
  color: black; 
  text-decoration: none; 
}

.social-links a:hover {
  text-decoration: underline; 
}

.footer-gallery img {
  margin: 0 5px; 
  vertical-align: middle; 
}
.footer-image {
  width: 50px; 
  height: auto; 
  margin: 5px; 
}
.lista-circulo {
  list-style-type: circle; 
  padding-left: 20px; 
}

.lista-circulo li {
  color: black; 
  margin-bottom: 5px; 
}
.lista-circulo {
  list-style-type: disc; 
  padding-left: 20px;
}
@media (max-width: 768px) {
  .col-sm-6 {
    flex: 0 0 100%; 
    max-width: 100%;
  }
}
.container-fluid {
  padding: 20px;
}
.card {
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.card-img-top {
  width: 100%; /* Asegura que la imagen cubra el ancho del card */
  height: 180px; /* Fija una altura estándar para todas las imágenes */
  object-fit: cover; /* Asegura que la imagen cubra completamente el área asignada sin perder proporciones */
}
.card-title {
  font-size: 1.2rem; 
  color: #333; 
  margin-bottom: 0.5rem; 
}
.card-text {
  font-size: 0.9rem; 
  color: #666; 
  margin-bottom: 1rem; 
}
.btn-primary {
  color: #fff; 
  background-color: #007bff; 
  border-color: #007bff; 
}
.btn-primary:hover {
  background-color: #0056b3; 
  border-color: #004085; 
}
.img-fluidt {
  border-radius: 100px;  
  border: 20px solid #ddd; 
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
  max-width: 100%; 
  height: 600px; 
  top: auto;
  margin-top: 0px; 
}
/* carrito compra */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.cart {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}
.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.item img {
  width: 100px;
  margin-right: 20px;
}
.item-details h3 {
  margin: 0;
}
.item-details p {
  margin: 5px 0;
}
.remove-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.total {
  text-align: right;
}
.checkout-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #0056b3;
}
